<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ark.weather.platform.infrastructure.repository.db.WeatherCurrentInfoMapper">
    <resultMap id="BaseResultMap" type="com.ark.weather.platform.domain.domain.WeatherCurrentInfoPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <id column="station_code" jdbcType="VARCHAR" property="stationCode"/>
        <id column="station_name" jdbcType="VARCHAR" property="stationName"/>
        <id column="lat" jdbcType="DECIMAL" property="lat"/>
        <id column="lng" jdbcType="DECIMAL" property="lng"/>
        <id column="supplier_type" jdbcType="INTEGER" property="supplierType"/>
        <id column="obs_time" jdbcType="TIMESTAMP" property="obsTime"/>
        <id column="temperature" jdbcType="DECIMAL" property="temperature"/>
        <id column="humidity" jdbcType="INTEGER" property="humidity"/>
        <id column="wind_degrees" jdbcType="INTEGER" property="windDegrees"/>
        <id column="wind_dir" jdbcType="VARCHAR" property="windDir"/>
        <id column="wind_level" jdbcType="INTEGER" property="windLevel"/>
        <id column="precipitation" jdbcType="DECIMAL" property="precipitation"/>
        <id column="weather" jdbcType="VARCHAR" property="weather"/>
        <id column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <id column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <id column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <id column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
      id, station_code, station_name, lat, lng, supplier_type, obs_time, temperature, humidity, wind_degrees,
      wind_dir, wind_level, precipitation, weather, create_time, create_user, update_time, update_user
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.ark.weather.platform.domain.domain.WeatherCurrentInfoPO" useGeneratedKeys="true">
    insert into t_weather_current_info (station_code, station_name, lat, lng, supplier_type,
            obs_time, temperature, humidity, wind_degrees, wind_dir, wind_level, precipitation, weather,
            create_time, create_user, update_time, update_user)
    values (#{stationCode,jdbcType=VARCHAR}, #{stationName,jdbcType=VARCHAR}, #{lat,jdbcType=DECIMAL}, #{lng,jdbcType=DECIMAL}, #{supplierType,jdbcType=INTEGER},
            #{obsTime,jdbcType=TIMESTAMP}, #{temperature,jdbcType=DECIMAL}, #{humidity,jdbcType=INTEGER}, #{windDegrees,jdbcType=INTEGER}, #{windDir,jdbcType=VARCHAR}, #{windLevel,jdbcType=INTEGER}, #{precipitation,jdbcType=DECIMAL}, #{weather,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>

</mapper>